@import "../../../../styles/variables.scss";

.language {
  padding: 10px;
}

img {
  height: 22px;
  width: auto;
  border-radius: 10px;
}

.btn.dark {
  background-color: $color-dark;
  border-color: $color-dark;
  border-radius: 0.625rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: 1px solid $bg-color-dark;

  &:hover {
    background-color: $secondary-color-dark-opacity;
    border-color: $bg-color-dark;
  }

  &:active {
    box-shadow: none;
  }

  &.active {
    background-color: $secondary-color-dark;
    box-shadow: none;
  }

  &.btnES {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.btnEN {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}

.btn.light {
  background-color: $bg-color-light;
  border-radius: 0.625rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid $secondary-color-light;

  &:hover {
    background-color: $secondary-color-light-opacity;
  }

  &:active {
    box-shadow: none;
  }

  &.active {
    background-color: $secondary-color-light;
    box-shadow: none;
  }

  &.btnES {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.btnEN {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}