@import "styles/variables.scss";

  
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #404144;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #141416;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: #141416;
  }