//dark
$color-dark: #141414;
$secondary-color-dark: #2d44dd;
$bg-color-dark: #1e1e1e;
$text-color-dark: #cacaca;
$secondary-color-dark-opacity: rgba(45, 68, 221, 0.2);

//light
$color-light: #58acff;
$secondary-color-light: #327afe;
$bg-color-light: #fff;
$text-color-light: #000000;
$secondary-color-light-opacity: rgba(50, 122, 254, 0.2);

//danger
$color-danger: #a30f0f;
$bg-color-danger: #9a3a3a;

//warning
$color-warning: #EFB810;

//success
$color-success: #28A745;

//info
$color-info: #2362c8;
